<%- include('./partials/header'); %>

    <body class="h-screen w-screen flex items-center justify-center bg-gray-100">

        <div class="relative h-full w-full bg-yellow-400">
            <!-- Full-screen Image -->
<h1 class="text-6xl font-bold absolute capitalize top-[37%] left-[15%] sm:left-[50%]  sm:translate-x-[-50%] sm:translate-y-[-50%] ">fast<span class="text-green-700 capitalize">food</span></h1>
<p class="sm:text-xl font-bold absolute capitalize top-[50%] left-[11%] sm:left-[50%] sm:translate-x-[-50%] sm:translate-y-[-50%]">Anything, Anytime, Anywhere.</p>
            <!-- Button at the Bottom -->
            <div class="absolute bottom-0 w-full flex justify-center mb-8">
                <a href="/auth/google"
                    class="bg-black text-white font-semibold py-3 px-6 rounded-lg hover:bg-black transition duration-300">
                    Continue with Google
                </a>
            </div>
        </div>

    </body>

    <%- include('./partials/footer'); %>